---
import {css} from '../../styled-system/css'
import axios from 'axios'
import { marked } from 'marked';

//props
const {data} = Astro.props

const response = await fetch(`http://localhost:3333${data}`)
            .then((res) => res.text())
            .catch((err) => console.error(err))

const content = marked.parse(response);

//style
const styleMD = css({ color:'white',
                    mt:'4.5%',
                    mx:'20%',
                    lineHeight: 1.7,
                    fontSize: 17.5,
                    '& h2, h3, h4':{
                        my: '4%',
                    },
                    '& img': {
                        display:'block',
                        marginLeft: 'auto',
                        marginRight: 'auto',
                        width:'78%',
                        mb: '5%'
                    },
                    '& a':{
                        color: '#BB8FCE',
                    }
                    })
---

<div class={styleMD}>
    <article set:html={content} />
</div>
