---
import {Image} from 'astro:assets'
import profil from "../assets/logo.svg"
import {center} from "../../styled-system/patterns"
import {css} from "../../styled-system/css"
---

<header className={center()}>
    <a href="/" class={css({pt:'2%'})}>
        <Image src={profil} 
            alt="Hey"
            class={css({w: 85})}
        />
    </a>
<header />
