---
import {Image} from 'astro:assets'
import profil from "../assets/logo.svg"
import {center} from "../../styled-system/patterns"
import {css} from "../../styled-system/css"
---

<header className={center()}>
    <a href="/" class={css({mt:'2%', sms:{mt: '5%'}, ssms:{mt:'10%'}})}>
        <Image src={profil} 
            alt="Hey"
            class={css({w:{sms:'83', base:'75'}})}
        />
    </a>
<header />
