---
import  {flex, container, grid, wrap} from "../../styled-system/patterns"
import {css} from "../../styled-system/css"

const response  = await fetch('http://127.0.0.1:3333/all-blog')
                    .then((res) => res.json())
                    .catch((err) => console.error(err))
---

<div class={grid({ columns:{base:'1', sm:'2'},
                color:'white',
                justifyItems:'center',
                mx: '1%',
                })}>   
    {response.map(item => (
        <a href={`/blog/${item.id}`} class={container({
            width: {xl:'70%', sm:'90%', base:'85%' },
            py: '5%',
            my: '7%',
            bg: '#0E0E0E',
            borderWidth: 1,
            borderColor: '#2B334F',
            borderRadius: 'md',
            transition: 'all',
            transitionTimingFunction: 'ease-out',
            transitionDelay: '.2s',
            '& p':{
                transition: 'all',
                transitionTimingFunction: 'ease-out',
                transitionDelay: '.2s',
            },
            _hover:{
                borderWidth: 1.5,
                borderColor: '#72457B',
                '& p':{
                    color: '#EAE1E1'
                },
            }
            })}>
            <p class={css({
                mb: '5%',
                textAlign:'center',
                color: '#EAE1E1',
                sms: {
                    fontSize: '14' 
                },
                ssms: {
                    fontSize: '10' 
                },
            })}>{item.updated_at}</p>
            <h2 class={css({fontSize:'26',
                            fontWeight:'600',
                            mb: '5%',
                            textAlign:'center',
                            sms: {
                                fontSize: '22' 
                            },
                            ssms: {
                                fontSize: '18' 
                            },
                            })}>
                            {item.title}
            </h2>
            <p class={css({color:'#B0B0B0',
                            sms: {
                                fontSize: '14' 
                            },
                            ssms: {
                                fontSize: '12' 
                            },})}>
                {item.preface}
            </p>
        </a>
    ))}
</div>
