---
import Layout from '../../layouts/Layout.astro'
import Footer from '../../components/Footer.astro'
import {css} from '../../../styled-system/css'
import Content from '../../components/Content.astro'

export const prerender = false 
const {id} = Astro.params

const response = await fetch(`http://localhost:3333/blog/${id}`)
            .then((res) => res.json())
            .catch((err) => console.error(err))

---

<Layout>
    <div class={css({textAlign:'center', color:'white'})}>
    <h1 class={css({fontSize:40,
        fontWeight:600,
        mt:10,
        mb: 5,
        fontSize:{base:'30', sm:'33', md:'36'}
        })}>
        {response.title}
    </h1>
    <p class={css({
        sms:{fontSize:'14'},
        px:{ssms:'2%' ,sms:'7%', base:'20%', xl:'31%'},
        xl:{fontSize:'16'},
        ssms:{fontSize:'12'},
        color: '#DBDDDE'
        })}>
        {response.preface}
    </p>
    </div>
    <Content data={response.content}/>
    <Footer/>
</Layout>
