---
import Layout from '../../layouts/Layout.astro'
import Footer from '../../components/Footer.astro'
import {css} from '../../../styled-system/css'
import {Content} from '../content/first.md'

export const prerender = false 
const {id} = Astro.params

const response = await fetch(`http://localhost:3333/blog/${id}`)
            .then((res) => res)
            .catch((err) => console.error(err))
console.log(response)

//style
const styleMD = css({ color:'white',
                    mt:'4.5%',
                    mx:'20%',
                    lineHeight: 1.7,
                    fontSize: 17.5,
                    '& h2, h3, h4':{
                        my: '4%',
                    },
                    '& img': {
                        display:'block',
                        marginLeft: 'auto',
                        marginRight: 'auto',
                        width:'78%',
                        mb: '5%'
                    },
                    '& a':{
                        color: '#BB8FCE',
                    }
                    })

---

<Layout>
    <div class={css({textAlign:'center', color:'white'})}>
    <h1 class={css({fontSize:40, fontWeight:600, mt:10, mb: 5, px:'31%'})}>
        The world of reverse
    </h1>
    <p class={css({fontSize:14, px:'31%'})}>
        Proprietary code is often our enemy as open source developers. Breaking it
        down and developing versions that are interoperable with their code is one of 
         the great goals of the reverse engineering world.
    </p>
    </div>
    <div class={styleMD}>
    </div>
    <Footer/>
</Layout>
